.container{
    background: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
}

table{
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #f1f2;
}

h3{
    text-align: center;
    background: wheat;
    padding: 10px;
    border-radius: 10px;
}